[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ipython = "*"
pycallgraph = "*"

[packages]
nltk = "*"
scikit-learn = "*"
numpy = "*"
keras = "==2.1.5"
requests = "*"
spacy = "*"
pandas = "*"
tqdm = "*"
tensorflow = "==1.7.0"

[requires]
python_version = "3.6"
